body{
    color: lime;
    background-color: black;
    overflow-x:hidden; 
}
.learning{
    color: yellow;
}
.Not_learned{
    color: red;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
}
input[type="button"]{
    color: lime;
    border: lime solid 3px;
    font-weight: bold;
    height: 40px;
    background-color: black;
}